<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.wizapp2" >

    <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".logon.LogonActivity"
            android:label="@string/application_name"
            android:theme="@style/splashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mdui.EntitySetListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.launchscreen.LaunchScreenActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.LaunchScreenActionHandlerImpl" />
        </activity>
        <activity
            android:name=".mdui.customers.CustomersListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.customers.CustomersDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.customers.CustomersListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.customers.CustomersListActivity" />
        </activity>
        <activity
            android:name=".mdui.productcategories.ProductCategoriesListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.productcategories.ProductCategoriesDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.productcategories.ProductCategoriesListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.productcategories.ProductCategoriesListActivity" />
        </activity>
        <activity
            android:name=".mdui.producttexts.ProductTextsListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.producttexts.ProductTextsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.producttexts.ProductTextsListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.producttexts.ProductTextsListActivity" />
        </activity>
        <activity
            android:name=".mdui.products.ProductsListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.products.ProductsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.products.ProductsListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.products.ProductsListActivity" />
        </activity>
        <activity
            android:name=".mdui.purchaseorderheaders.PurchaseOrderHeadersListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.purchaseorderheaders.PurchaseOrderHeadersDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.purchaseorderheaders.PurchaseOrderHeadersListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.purchaseorderheaders.PurchaseOrderHeadersListActivity" />
        </activity>
        <activity
            android:name=".mdui.purchaseorderitems.PurchaseOrderItemsListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.purchaseorderitems.PurchaseOrderItemsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.purchaseorderitems.PurchaseOrderItemsListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.purchaseorderitems.PurchaseOrderItemsListActivity" />
        </activity>
        <activity
            android:name=".mdui.salesorderheaders.SalesOrderHeadersListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.salesorderheaders.SalesOrderHeadersDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.salesorderheaders.SalesOrderHeadersListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.salesorderheaders.SalesOrderHeadersListActivity" />
        </activity>
        <activity
            android:name=".mdui.salesorderitems.SalesOrderItemsListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.salesorderitems.SalesOrderItemsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.salesorderitems.SalesOrderItemsListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.salesorderitems.SalesOrderItemsListActivity" />
        </activity>
        <activity
            android:name=".mdui.stock.StockListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.stock.StockDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.stock.StockListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.stock.StockListActivity" />
        </activity>
        <activity
            android:name=".mdui.suppliers.SuppliersListActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.suppliers.SuppliersDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:parentActivityName=".mdui.suppliers.SuppliersListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.suppliers.SuppliersListActivity" />
        </activity>
        <activity
            android:name=".mdui.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/settings_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.SetPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.wizapp2.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.ConfirmPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.wizapp2.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.EnterPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.wizapp2.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.fingerprint.FingerprintActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.FingerprintActionHandlerImpl" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.fingerprint.FingerprintErrorActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.FingerprintActionHandlerImpl" />
        </activity>
        <activity android:name=".logon.UnlockActivity" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.ChangePasscodeActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.wizapp2.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.wizapp2.logon.PasscodeValidationActionHandlerImpl" />
        </activity>
        <activity
            android:name=".app.ErrorNotificationDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />
    </application>

</manifest>